.title {
  font-weight: bold;
  white-space: pre-line;
}

.description {
  ol, ul {
    margin-top: 0;
    margin-bottom: 4px;
  }

  p:not(:last-child) {
    margin-bottom: 4px;
  }
}

.preLine {
  white-space: pre-line;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.footerItem {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0;
}

.link {
  color: blue;
  text-decoration: underline;
}
