.row {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.select {
  @media(max-width: 480px) {
    flex-grow: 1;
  }
}
.statusSelect {
  min-width: 150px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: stretch;
}

.mapContainer {
  flex-grow: 1;
}
