.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.statusSelect {
  min-width: 250px;
}

.container {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

.mapContainer {
  flex-grow: 1;
}

.updatedAt {
  margin-bottom: 0;
  text-align: right;
}
